.dark-medium-contrast {
  --md-sys-color-primary: rgb(128 213 207);
  --md-sys-color-surface-tint: rgb(128 213 207);
  --md-sys-color-on-primary: rgb(0 26 25);
  --md-sys-color-primary-container: rgb(72 158 152);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(135 215 232);
  --md-sys-color-on-secondary: rgb(0 26 30);
  --md-sys-color-secondary-container: rgb(74 156 172);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(159 207 255);
  --md-sys-color-on-tertiary: rgb(0 24 42);
  --md-sys-color-tertiary-container: rgb(101 149 194);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 226);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(250 250 255);
  --md-sys-color-surface-variant: rgb(63 73 72);
  --md-sys-color-on-surface-variant: rgb(194 205 203);
  --md-sys-color-outline: rgb(155 165 163);
  --md-sys-color-outline-variant: rgb(123 133 132);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 232);
  --md-sys-color-inverse-on-surface: rgb(39 42 47);
  --md-sys-color-inverse-primary: rgb(0 81 77);
  --md-sys-color-primary-fixed: rgb(157 241 235);
  --md-sys-color-on-primary-fixed: rgb(0 20 19);
  --md-sys-color-primary-fixed-dim: rgb(128 213 207);
  --md-sys-color-on-primary-fixed-variant: rgb(0 61 58);
  --md-sys-color-secondary-fixed: rgb(162 238 255);
  --md-sys-color-on-secondary-fixed: rgb(0 20 24);
  --md-sys-color-secondary-fixed-dim: rgb(131 210 227);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 60 69);
  --md-sys-color-tertiary-fixed: rgb(206 229 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 18 34);
  --md-sys-color-tertiary-fixed-dim: rgb(155 203 251);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 57 92);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(54 57 62);
  --md-sys-color-surface-container-lowest: rgb(11 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(29 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 47);
  --md-sys-color-surface-container-highest: rgb(50 53 58);
}
