# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Python
*.py diff=python
*.py text
*.pyw text
*.pyx text
*.pxd text
*.pxi text

# Binary
*.pyc binary
*.pyo binary
*.pyd binary
*.egg binary
*.whl binary

# Docs
*.md text
*.rst text
*.txt text

# Config
*.yml text
*.yaml text
*.toml text
*.ini text
*.cfg text
*.json text

# Lock files
poetry.lock text
Pipfile.lock text
