.dark-medium-contrast {
	--color-primary: rgb(128 213 207);
	--color-surface-tint: rgb(128 213 207);
	--color-on-primary: rgb(0 26 25);
	--color-primary-container: rgb(72 158 152);
	--color-on-primary-container: rgb(0 0 0);
	--color-secondary: rgb(135 215 232);
	--color-on-secondary: rgb(0 26 30);
	--color-secondary-container: rgb(74 156 172);
	--color-on-secondary-container: rgb(0 0 0);
	--color-tertiary: rgb(159 207 255);
	--color-on-tertiary: rgb(0 24 42);
	--color-tertiary-container: rgb(101 149 194);
	--color-on-tertiary-container: rgb(0 0 0);
	--color-error: rgb(255 186 177);
	--color-on-error: rgb(55 0 1);
	--color-error-container: rgb(255 84 73);
	--color-on-error-container: rgb(0 0 0);
	--color-background: rgb(14 21 20);
	--color-on-background: rgb(221 228 226);
	--color-surface: rgb(16 20 24);
	--color-on-surface: rgb(250 250 255);
	--color-surface-variant: rgb(63 73 72);
	--color-on-surface-variant: rgb(194 205 203);
	--color-outline: rgb(155 165 163);
	--color-outline-variant: rgb(123 133 132);
	--color-shadow: rgb(0 0 0);
	--color-scrim: rgb(0 0 0);
	--color-inverse-surface: rgb(225 226 232);
	--color-inverse-on-surface: rgb(39 42 47);
	--color-inverse-primary: rgb(0 81 77);
	--color-primary-fixed: rgb(157 241 235);
	--color-on-primary-fixed: rgb(0 20 19);
	--color-primary-fixed-dim: rgb(128 213 207);
	--color-on-primary-fixed-variant: rgb(0 61 58);
	--color-secondary-fixed: rgb(162 238 255);
	--color-on-secondary-fixed: rgb(0 20 24);
	--color-secondary-fixed-dim: rgb(131 210 227);
	--color-on-secondary-fixed-variant: rgb(0 60 69);
	--color-tertiary-fixed: rgb(206 229 255);
	--color-on-tertiary-fixed: rgb(0 18 34);
	--color-tertiary-fixed-dim: rgb(155 203 251);
	--color-on-tertiary-fixed-variant: rgb(0 57 92);
	--color-surface-dim: rgb(16 20 24);
	--color-surface-bright: rgb(54 57 62);
	--color-surface-container-lowest: rgb(11 14 19);
	--color-surface-container-low: rgb(25 28 32);
	--color-surface-container: rgb(29 32 36);
	--color-surface-container-high: rgb(39 42 47);
	--color-surface-container-highest: rgb(50 53 58);
}
